<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokédex Flask{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ef5350;
            color: white;
            padding: 1em;
        }
        main {
            margin: 2em auto;
            width: 80%;
            max-width: 600px;
            background-color:
